In [131]:
import pandas as pd
import numpy as np
from random import random
from math import factorial

In [135]:
def rep_prob(k,n,h):
    return 1/(1+(k*n)*h)
def g_r(a,b,n):
    return (a/(b+n))
def comb(n,r):
    return factorial(n)/((factorial(n-r))*factorial(r))
def binomial(n,r):
    return comb(n,r)/(2.0**n)
def cumbin(n):
    suma=0.0
    cum=[]
    for i in range(n):
        cum.append(suma)
        suma+=binomial(n,i)
    return np.array(cum)

def division(n):
    rta= 0,0
    if(n==0):
        return rta
        
    c=cumbin(n)
    r=np.zeros(n)+random()
    diff=abs(c-r)
    minimo=1.01
    j=np.where(diff==min(diff))[0]
    return j, n-j

In [136]:
def simulation(p1,p2,k1,k2,h,gen):
    def r1(k,p1,p2,h):
        return rep_prob(k1,p1+p2,h)
    def r2(k,p1,p2,h):
        return rep_prob(k2,p1+p2,h)
    def ronda(p1,p2, t, s):
        while(s<2.0):
            if(random()<r1(k1,p1,p2,h)):
                  p1+=1
            if(random()<r2(k2,p1,p2,h)):
                  p2+=1
            t+=1
            s+=g_r(a,b,p1+p2)
        return [int(p1),int(p2),int(t),2.0]           
    bact={"Plasmido_1":[p1],"Plasmido_2":[p2],"Tiempo":[0.0],"Size":[1.0]}
    df = pd.DataFrame (bact, columns = ["Plasmido_1","Plasmido_2","Tiempo","Size"])
    while(len(df)<2**gen):
        df=df.sort_values(by=["Tiempo"])
        lt=ronda(int(df.iloc[0]["Plasmido_1"]),int(df.iloc[0]["Plasmido_2"]),df.iloc[0]["Tiempo"],df.iloc[0]["Size"])
        p11, p12=division(lt[0])[0],division(lt[0])[1]
        p21, p22=division(lt[1])[0],division(lt[1])[1]
        t=lt[2]
        s=lt[3]//2
        df.iloc[0]=[p11,p21,t,s]
        df.loc[len(df)]=[p12,p22,t,s]
    return df

In [148]:
a=1
b=10
p1=1
p2=10
k1=0.01
k2=0.5
h=5
gen=12
t=0
s=0
df=simulation(p1,p2,k1,k2,h,gen)

In [149]:
df.head()

     Plasmido_1 Plasmido_2  Tiempo  Size
2365       [16]        [2]   405.0   1.0
1896       [17]          0   378.0   1.0
711        [16]        [0]   378.0   1.0
195        [16]        [0]   378.0   1.0
2031       [23]          0   378.0   1.0

In [150]:
p1t=sum(df.Plasmido_1)
p2t=sum(df.Plasmido_2)

In [151]:
p1t

array([65263])

In [152]:
p2t

array([2451])